.loader-container {
  position: relative;
  width: 18rem;
  height: 18rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.dot-1 {
  background-color: #3db5e9;
  z-index: 4;
  animation: moveDot1 2s infinite ease;
}

.dot-2 {
  background-color: #1de1c0;
  z-index: 3;
  animation: moveDot2 2s infinite ease;
}

.dot-3 {
  background-color: #005cff;
  z-index: 2;
  animation: moveDot3 2s infinite ease;
}

.dot-4 {
  background-color: #03007f;
  z-index: 1;
  animation: moveDot4 2s infinite ease;
}

@keyframes moveDot1 {
  from {
    transform: rotate(0deg);
    /* transform-origin: top left */
    transform-origin: -20px -20px;
    transform-style: preserve-3D;
  }

  to {
    transform: rotate(-360deg);
    /* transform-origin: top left */
    transform-origin: -20px -20px;
    transform-style: preserve-3D;
  }
}

@keyframes moveDot2 {
  from {
    transform: rotate(0deg);
    /* transform-origin: top right */
    transform-origin: 40px -20px;
    transform-style: preserve-3D;
  }

  to {
    transform: rotate(-360deg);
    /* transform-origin: top right */
    transform-origin: 40px -20px;
    transform-style: preserve-3D;
  }
}

@keyframes moveDot3 {
  from {
    transform: rotate(0deg);
    /* transform-origin: bottom left */
    transform-origin: -20px 40px;
    transform-style: preserve-3D;
  }

  to {
    transform: rotate(-360deg);
    /* transform-origin: bottom left */
    transform-origin: -20px 40px;
    transform-style: preserve-3D;
  }
}

@keyframes moveDot4 {
  from {
    transform: rotate(0deg);
    /* transform-origin: bottom right */
    transform-origin: 40px 40px;
    transform-style: preserve-3D;
  }

  to {
    transform: rotate(-360deg);
    /* transform-origin: bottom right */
    transform-origin: 40px 40px;
    transform-style: preserve-3D;
  }
}

/* Credits */

.credits {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: black;
}

.credit-text {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
